<!-- Uses core.css stylesheet -->
<section data-ng-controller="HomeController">
    <div class="img-wrap">
    <div class="row">
        <div class="col-md-4">
        
        <ul class="caption-style-3">
            <li><img src="/modules/core/img/dsotm.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>Pink Floyd</h1>
                    <p>Dark Side of The Moon</p>

                    </div>

                </div>

            </li>
        </ul>
    </div><!-- Closes col-md-4 -->
        
    <div class="col-md-4">
        <ul class="caption-style-3">
            <li><img src="/modules/core/img/family.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>Noah Gundersen</h1>
                    <p>Family</p>

                    </div><!-- Closes caption-text -->
                </div><!--Closes caption-->
            </li>
        </ul>
    </div><!-- Closes col-md-4 -->
            
        <div class="col-md-4">
            <ul class="caption-style-3">
            <li><img src="/modules/core/img/ickythump.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>The White Stripes</h1>
                    <p>Icky Thump</p>
                        
                    </div><!-- Closes caption-text -->
                </div><!--Closes caption-->
            </li>
        </ul>
    </div><!-- Closes col-md-4 -->

</div><!--Closes first row-->
        
    </div><!-- Closes img-wrap-->
    
</section>

