<!-- Uses core.css stylesheet -->

<section data-ng-controller="HomeController">
<section data-ng-controller="PhotosController" data-ng-init="find()">

<container id="twit">
            <a href="https://twitter.com/stashpic" class="twitter-follow-button" data-show-count="false">Follow @stashpic</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <a class="twitter-hashtag-button"
              href="https://twitter.com/intent/tweet?button_hashtag=stashpic&text=You%20have%20to%20check%20this%20out!%20"
              data-related="twitter">
            Tweet #stashpic
            </a>
            <script>
            window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
            </script>

 </container>
<div class="page-header">
        <h1>Featured</h1>
    </div>
    <div class="img-wrap">
    <div class="row">
        <div class="col-md-4">
        
        <ul class="caption-style-3">
            <li> <image src="/modules/core/img/dsotm.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>Pink Floyd</h1>
                    <p>Dark Side of The Moon</p>

                    </div>

                </div>

            </li>
        </ul>
    </div><!-- Closes col-md-4 -->
        
    <div class="col-md-4">
        <ul class="caption-style-3">
            <li><img src="/modules/core/img/family.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>Noah Gundersen</h1>
                    <p>Family</p>

                    </div><!-- Closes caption-text -->
                </div><!--Closes caption-->
            </li>
        </ul>
    </div><!-- Closes col-md-4 -->
            
        <div class="col-md-4">
            <ul class="caption-style-3">
            <li><img src="/modules/core/img/ickythump.jpg" class="img-responsive" alt="">     
            <div class="caption">
                <div class="blur"></div>
                    <div class="caption-text">
                    <h1>The White Stripes</h1>
                    <p>Icky Thump</p>
                        
                    </div><!-- Closes caption-text -->
                </div><!--Closes caption-->
            </li>
        </ul>
    </div><!-- Closes col-md-4 -->

</div><!--Closes first row-->
        
    </div><!-- Closes img-wrap-->
    
</section>

<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="page-header" data-ng-show="authentication.user" id="yep">
        <h1>Recent uploads:</h1>
    </div>
    <div data-ng-show="authentication.user" id="yep" >
        <a data-ng-repeat="photo in photos " data-ng-href="#!/photos/{{photo._id}}">
            
            <image src="{{photo.image}}" style="max-width:100%" />
        </a>
    </div>
</section>
</section>
