@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

#txt{
	padding-top: 20px;
	font-weight: bolder;
	font-size: 25px;
}
.menu{
	margin: 10px;
}
.option{

	padding-bottom: 10px;
}
#social{
	background-color: #fff;
}